<form action="/projects" method="post">
  <label for="project_name">Project name</label><br>
  <input id="project_name" name="project_name" type="text" required>
  <button type="submit" class="btn btn-primary">Add List</button>
</form>
